### Importing Pandas Libraries
Importing Pandas library and output the version. Apart from that, importing the Numpy library because we will use several of its useful functions.

In [1]:
import pandas as pd
pd.__version__

'0.23.0'

In [2]:
import numpy as np

### Creating Series object 
A pandas series object is used to create a single row of data, analogous to an array.

In [3]:
series_obj = pd.Series(np.arange(5), index=['row 1', 'row 2','row 3','row 4','row 5'])
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
dtype: int32

**Addressing Data Elements :**
We can address data elements by 1. its **label index** or 2. its **integer index**.

When we write square brackets with a label-index inside them, this tells Python to select and retrieve all records with that label-index.

When we write square brackets with an integer index inside them, this tells Python to select and retrieve all records with the specified integer index.

In [4]:
series_obj['row 4']

3

Note that, all series objects are zero index. And our string labels that we put for this series_obj is starting as "row_1".

In [5]:
series_obj[[0,3]]

row 1    0
row 4    3
dtype: int32

### Creating a Dataframe
We can create dataframes from other series objects.

In [6]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

dataframe = pd.DataFrame({ 'City name': city_names, 'Population': population })
dataframe

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199

 Any string labels we provide to the series objects is taken as column index. We can name the rows and columns too. we do by providing a list to **index** parameter and another to the **'columns'** parameter.

In [7]:
np.random.seed(42)
DF_obj = pd.DataFrame(np.random.rand(36).reshape((6,6)), 
                   index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6'],
                   columns=['column 1', 'column 2', 'column 3', 'column 4', 'column 5', 'column 6'])
DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.374540  0.950714  0.731994  0.598658  0.156019  0.155995
row 2  0.058084  0.866176  0.601115  0.708073  0.020584  0.969910
row 3  0.832443  0.212339  0.181825  0.183405  0.304242  0.524756
row 4  0.431945  0.291229  0.611853  0.139494  0.292145  0.366362
row 5  0.456070  0.785176  0.199674  0.514234  0.592415  0.046450
row 6  0.607545  0.170524  0.065052  0.948886  0.965632  0.808397

**Accessing data elements :** Data elements can be accessed my passing the row and column index to the .loc[] in square brakets. Multiple elements can be accessed as well by passing multiple elements. Note: the .ix[] command is deprecated.

In [8]:
DF_obj.loc[['row 2'], ['column 3']]

       column 3
row 2  0.601115

In [9]:
DF_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']]

       column 5  column 2
row 2  0.020584  0.866176
row 5  0.592415  0.785176